@font-face {
  font-family: "PokemonGB";
  src: url(PokemonGB.woff) format("woff");
  font-display: swap;
}

.middle-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: "PokemonGB";
  color: white;
}

.sprite {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  margin-top: -15%;
}

.card-colapsed {
  display: flex;
  align-items: center;
  gap: 15px;
}

.top-row {
  display: flex;
  flex-direction:  column;
  gap: 4px;
  flex-grow: 1;
}

.card-expanded {
  display: none;
  margin-top: 10px;
}

.party-card.expanded .card-expanded {
  display: block;
}

.party-card {
  position: relative;
  background: #48494b;
  padding: 18px;
  border: 8px solid black;
  margin-bottom: 10px;
  width: 375px;
  box-sizing: border-box;
  border-radius: 8px;
}

.sprite-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.level{
  font-size: 10px;
  padding: 0 8 0 0;
  margin-bottom: -15%;
  
}
 .name-line{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 10px;
   margin-bottom: -5%;
   margin-top: -8%;
 }

.name {
  display:flex;
  justify-content: right;
  align-items: top;
  font-size: 14px;
  margin-right: 10px;
}

.gender {
  height: 20px;
  width: 20px;
  margin-top: 5%;
}

.hp-bar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10px;
  background: #444;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
  margin-left: auto;
}

.hp-fill {
  width: 65%;
  height: 100%;
  background: gold;
}

.hp-text {
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin-top: -5px;
  margin-left: 2;
}

.stat-row hp-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 20%;
}

.hp-input {
  width: 100px;
  height: 20px;
  font-size: 16px;
  margin-bottom: 5%;
}

#damage-button {
  width: 75px;
  height: 30px;
  border-radius: 10px;
  font-size: 16px;
  background-color: #333;
  color: white;
  border: 1px solid white;
  margin-right: 0;
}

#heal-button {
  width: 80px;
  height: 30px;
  border-radius: 10px;
  font-size: 16px;
  background-color: #333;
  color: white;
  border: 1px solid white;
  margin-left: 0;
}

.xp-bar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10px;
  background: #444;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px
}

.xp-fill {
  width: 65%;
  height: 100%;
  background: limegreen;
}

.xp-text {
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin-top: -5px;
}

.xp-adder {
  display: flex;
}

.xp-input {
  width: 100px;
  height: 20px;
  font-size: 16px;
  margin-bottom: 5%;
}

#xp-button {
  width: 75px;
  height: 30px;
  border-radius: 10px;
  font-size: 16px;
  background-color: #333;
  color: white;
  border: 1px solid white;
  margin-right: 0
}

.moves-header {
  display: flex;
  justify-content: center;
  font-size: 16px;
  
}

.moves {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 12px 0;
}

.conditions {
  width: 100%;
  padding: 8px;
  border-radius: 10px;
}

.fill {
  height: 100%;
  border-radius: 10px;
  transition: width 0.3s ease;
}

.hp-green {
  background: limegreen;
}

.hp-yellow {
  background: gold;
}

.hp-red {
  background: crimson;
}

.gender {
  height: 35px;
  width: 35px;
}