@font-face {
  font-family: "PokemonGB";
  src: url("PokemonGB.woff") format("woff");
  font-display: swap;
}

.header {
  height: auto;
  padding: 8px;
}

.add-pokemon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: -10px;
  padding-bottom: 20px;
  margin-left: -115px;
  font-size: 12px;
}

#add-pokemon-button {
  width: 145px;
  height: 27px;
  background-color: #333;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  white-space: nowrap;
  font-family: "PokemonGB";
  flex-shrink: 0;
}

#status-modal, #delete-modal {
  display: none;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999 !important;
  justify-content: center;
  align-items: center;
  color: white;
}

#pokemon-name {
  width: 145px;
  height: 10px;
  padding: 8px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 10px;
}

#status-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
    justify-content: center;
    align-items: center;
}

#pokemon-list {
  list-style: none;
  padding: 0;
}

.upper-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.pokemon-display {
  width: 200px;
  height: 220px;
  border: 8px solid black;
  background-color: #aaa7ad;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-top: -20px;  
}

.pokemon-display img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.pokemon-list {
  width: 200px;
  height: 220px;
  border: 8px solid black;
  background-color: #aaa7ad;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: -20px;
  overflow-y: auto;
  font-family: "PokemonGB";
  font-size: 10px;
}

.ball-icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-left: 10px;
  vertical-align: middle;
  cursor: pointer;
}

.ball-icon.seen {
  filter: grayscale(100%);
  opacity: 0.5;
}

.ball-icon.caught{
  filter: grayscale(0%);
  opacity: 1;
}

.middle-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 335px;
  height: 220px;
  border: 8px solid black;
  background-color: #aaa7ad;
  border-radius: 10px;
  margin-left: 20px;
  font-size: 10px;
  font-family: "PokemonGB";
}
