@font-face {
	font-family: "Myfont";
	src: url("PokemonSolid.ttf");
}

body {
	font-family: "Myfont", sans-serif;
	padding: 20px;
	background: #f2f2f2
}

h1 {
	text-align: center;
}

input {
	width: 100%;
	padding: 15px;
	margin-bottom: 10px;
}

.pokemon {
	background: white;
	padding: 10px
	margin-bottom: 10px;
	border-radius: 10px;
}

button {
	width: 100%;
	padding: 15px;
	font-size: 16px;
}

field {
	display: flex;				/* Useflexbox */
	flex- direction: column;	/*stack label + input vertically */
	align- items: flex-start;	/* Align everything to the left*/
	margin-bottom: 15px;		/* Space between fields */
}

.field label {
	margin-bottom: 5px;			/* space between label and input */
}

input {
	width: 200px;				/* optional: set input width */
	padding: 8px;
}
