        body::before {
                content: "";
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url("pokeball.png");
                background-position: center top;
                background-repeat: no-repeat;
                background-size: 100% auto;
                z-index: -1;
        }

        body {
                margin: 0;
                font-family: "PokemonSolid", sans-serif;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: 1px;
                padding: 20px;
       }

        label, h1, h3 {
                color: black;
                text-shadow:
                    -1px -1px 0 white,
                     1px -1px 0 white,
                    -1px  1px 0 white,
                     1px  1px 0 white;
        }

        @font-face {
                font-family: "PokemonSolid";
                src: url(pokemonfont.woff) format("woff");
                font-display: swap;
        }

        @font-face {
                font-family: "PokemonGB";
                src: url(PokemonGB.woff) format("woff");
                font-display: swap;
        }

        h1 { 
                text-align: center; 
        }

        .top-section {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
        }

        .left-fields {
                display: flex;
                flex-direction: column;
        }

        .field {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 10px;
        }

        .field label { 
                margin-bottom: 5px; 

        }

        .field input { 
                width: 100px; 
                padding: 8px; 
                border: 2px solid black;
                border-radius: 10px;
                height: 10px;
        }

        .trainers-action-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-self: center;
                margin-top: 175px;
                margin-right: 50px;
                gap: 30px;
                padding: 8px;
                position: absolute;
                top: 10px;
                right: 10px;
                width: 125px;
        }

        .action-button {
                background-color: #333;
                color: white;
                border: 2px solid black;
                border-radius: 10px;
                font-family: "PokemonGB";
                font-size: 12px;
                padding: 8px;      
        }


        .class {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 10px;
        }

        .class label {
                margin-bottom: 5px;
        }

        .class input {
                width: 100pc;
                padding: 8px;
                border: 2px solid black;
                border-radius: 10px;
        } 

        .subclass {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 10px
        }

        .subclass label {
                margin-bottom: 5px;
        }

        .subclass input {
                width: 100px;
                padding: 8px;
        }

        .age {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 10px;
        }

        .age label {
                margin-bottom: 5px;
        }

        .age input {
                width: 50px; 
                padding: 8px;
                border: 2px solid black;
                border-radius: 10px;
                height: 10px;
        }

        .additional-info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-top: 10px;     
        }

        .xp-adder {
                display: flex;
                justify-content: flex-start;
                width: 75%;
                height: 30px;
                font-size: 16px;
                margin-top: 10px;
                margin-bottom: 10px;
                gap: 20px;      
        }

        #xp-amount {
                flex: 1;
                height: 10px;
                padding: 8px;
                border-radius: 10px;
                border: 2px solid black;
                margin-bottom: 10px;
        }

        #add-xp-button {
                width: auto;
                height: 30px;
                padding: 0 20px;
                background-color:#333;
                color: white;
                border-radius: 5px;
                cursor: pointer;
                font-size: 12px;
                white-space: nowrap;
                flex-shrink: 0;
                font-family: "PokemonGb";
        }

        .xp-container {
                width: 100%;
                height: 30px;
                background-color: #f0f0f0;
                border: 2px solid #000;
                border-top: 2px solid #000;
                border-bottom: 2px solid #000;
                border-radius: 10px;
                overflow: hidden;
                position: relative;
                margin-top: 10px;
                margin-bottom: 5px;
        }

        #xp-bar-fill {
                height: 100%;
                width: 0%;
                background-color: green;
        }

        #xp-text {
                font-family: PokemonGB, sans-serif;
                font-size: 16px;
                text-align: center;
        }

        .level {
                display: flex;
                flex-direction: column;
                gap: 5px;
                margin-top: 5px;     
        }

        .level label {
                margin-bottom: 0px;
        }

        .level input {
                width: 100px;
                margin-bottom: 10px;
                height: 20px;
                border: 2px solid black;
                border-radius: 10px    
        }        

        .stats {
                display: flex;
                justify-content: space-between;
                gap: 5px;
                margin-top: 10px;
                background:#e8e9eb;
                border-radius: 10px;
                padding: 5px;
                border: 2px solid black;
        }

        .stat {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex: 1;
                background: rgba(255,255,255,0.9);
                border-radius: 10px;
                padding: 10px;
                border: 2px solid black;
        }

        .stat input { 
                width: 100%; 
                text-align: center; 
                padding: 5px; 
                border: 1px solid black;
                border-radius: 5px;
                font-size: 16px;
        }

        select {
                width: 150px;
                padding: 5px;
                border-radius: 8px;
        }

        .skills-section {
                max-width: 500px;
        }

        .skills-grid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px 20px;
                border: 2x solid black;
                border-radius: 10px;            
        }

        .skill {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background: #a9a9a9;
        }

        .skill label {
                font-size: 14px;
        }

        .skill {
                border: 1px solid black;
                border-radius: 10px;
                padding: 5px;
                background: #e8e9eb;
        }

        #backstory {
                height: 120px;
                padding: 8px;
                font-size: 16px;
                resize: verticle;
                border: 2px solid black;
                border-radius: 10px;
                margin-right: 15px;
                box-sizing: border-box;
                width: 100%;
        }

        .text-area {
                width: 100%;
                box-sizing: border-box;
                border: 2px solid black;
                border-radius: 10px;
        }

        .skill .mod{
                width: 50px;
                height: 22px;
                padding: 2px;
                font-size: 16px;
                text-align: center;
        }

        .region-boost{
                border: 2px solid black;
                border-radius: 10px;
                padding: 10px;
                margin-bottom: 10px;
                margin-top: 10px;
                background: #e8e9eb;        
        }

        .region-boost-data{
                font-family: "PokemonGB";
                font-size: .65rem;
                color: #333;
        }

        .abilities-section{
                border: 2px solid black;
                border-radius: 10px;
                padding: 10px;
                margin-bottom: 10px;
                background: #e8e9eb;
                font-family: pokemonsolid;
                font-size: 16px;              
        }

        .ability-data{
                font-family: "PokemonGB", sans-serif;
                font-size: .65rem;
                color: #333;
        }
