@font-face {
	font-family: "PokemonSolid";
	src: url(pokemonfont.woff) format("truetype");
}

body {
	font-family: "PokemonSolid", sans-serif;
	padding: 20px;
	background: #f2f2f2;
}

h1 {
	text-align: center;
}

input {
	width: 100%;
	padding: 15px;
	margin-bottom: 10px;
}

.pokemon {
	background: white;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
}

button {
	width: 100%;
	padding: 15px;
	font-size: 16px;
}

.field {
	display: flex;				/* Useflexbox */
	flex-direction: column;	/*stack label + input vertically */
	align-items: flex-start;	/* Align everything to the left*/
	margin-bottom: 15px;		/* Space between fields */
}

.field label {
	margin-bottom: 5px;			/* space between label and input */
}

input {
	width: 200px;				/* optional: set input width */
	padding: 8px;
}

.stats {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	margin-top: 10px;
	background: rgba(255,255,255,0.9);
	border-radius: 8px;
	padding: 5px;
}

.stat {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	background: rgba(255,255,255,0.9)
	border-radius: 8px;
	padding: 10px;
}

.stat input {
	width: 100%;
	text-align: center;
	padding: 5px;
}
